# You can find color codes here: https://minecraft.tools/en/color-code.php
# Formatting comes after the color! &d&l will work, but not &l&d.
# MiniMessage formatting IS supported: https://docs.adventure.kyori.net/minimessage.html#template
# MiniMessage allows you to make rainbow colors and gradients!
# HEX/RGB colors ARE supported. (Only the MOTD)
# Hex format: &#FFFFFF or <#FFFFFF>
# Placeholders: <online> (Players online)
# <max> (Server max slots)
# <newline> adds a newline to your MOTD.
# <tps> shows the tps (Paper only)
# <center> centers the text of a line. Needs to be at the exact start of a line.
description:
  activated: true
  text:
    - "Hello! <newline>World!"
    - "Use &c<underlined>color <bold><yellow>codes!"
    - "&ka &rFormatting &nworks&r too! &ka"
    - "<#800080>Players: <online>/<max>"
    - "<rainbow>RAINBOW COLOR SUPPORT! :D</rainbow>"
    - "<center><yellow><bold>Centered text!<bold></yellow><newline>Second line!"

# Not supported on: Spigot (Paper works), Sponge
version:
  # The version name is shown if the version of the client doesn't match the version of the server.
  # <after_icon> adds a bunch of spaces so the text is after the icon. (Only for protocol)
  name:
    activated: true
    text: "&1My custom version name!"
  # Dangerous! This can show a wrong server version to the client.
  # When the client is on a different protocol, it will show the version name set above.
  protocol:
    activated: false
    value: 1

players:
  # Override your actual player count
  # Not supported on: Spigot (Paper works)
  online:
    activated: false
    value: 0
  # Override your max player count
  max:
    activated: false
    value: 10
  # Will show ??? as the player count.
  # Not supported on: Spigot (Paper works)
  hide: false
  # Box shown when you hover over the player count
  # Not supported on: Spigot (Paper works)
  sample:
    # Restores the vanilla behavior for the sample box.
    # The name of every player on the server will be shown in the sample box.
    # Overrides the text feature from below.
    vanilla:
      activated: false
      hidden:
        - "Notch"
    activated: true
    text:
      - "&3Hello world!"
      - "&eNewline!"
      - "&6    spaces!"
      - "&d&lCombined"
      - "&1Players: <online>/<max>"

# The image of a server in the server list.
favicon:
  activated: false
  # Favicons are stored in the /plugins/PistonMOTD/favicons folder.
  # Favicons are 64x64 pixels and must be PNG. The file name does not matter for random mode.
  # Valid: RANDOM, SINGLE
  mode: RANDOM
  # The single favicon shown when SINGLE is selected.
  single: example.png

# Extensions to the functionality of PistonMOTD
extensions:
  # Extensions for vanishing plugins
  vanish:
    # Support for SuperVanish/PremiumVanish. Hide players from the player count/sample on Bukkit/BungeeCord/Velocity.
    vanishApi: false
    # Hide players from the vanilla player sample feature.
    hideSample: true
    # Hide players from the online player count. (Most vanish plugins already have that built in)
    hideCount: false
  # Player prefixes for the player sample
  prefix:
    # Use LuckPerms player prefixes if it is installed
    luckperms: false

# Advanced features that should not be messed with unless you know what you're doing.
advanced:
  # If activated the server will only be shown as supported for the following protocols.
  supportedProtocol:
    activated: false
    unsupportedNumber: -1 # Shown when the protocol is not supported.
    # The supported protocol versions.
    # Protocol version numbers can be found here: https://wiki.vg/Protocol_version_numbers
    numbers:
      - 757
      - 756
  # If activated the server will display a status per server address the request comes from.
  # This is useful for servers that have multiple addresses and want to route traffic to another server.
  # The default status is shown when the request doesn't come from the below addresses.
  perDomainStatus:
    activated: false
    domains:
      example:
        domain: example.com
        description:
          activated: true
          text:
            - "&3Hello domain 1!"
        favicon:
          activated: false
          file: example.png
      example2:
        domain: example2.com
        description:
          activated: true
          text:
            - "&3Hello domain 2!"
        favicon:
          activated: false
          file: example2.png

# Check for updates on startup. (Only works on Sponge)
updateChecking: true
